<div ng-show="students.length">
    <h1>Sign-in</h1>
    <ul>
        <table>
            <!-- loops through students array and prints each with I'm here or I'm gone buttons -->
            <tr ng-repeat="item in students">
                <td>{{ item.name }}</td>
                <td>
                    <div class="container" ng-controller="AttendanceCtrl">
                        <div ng-hide="item.attendance">
                            <button type="button" ng-click="addStudentIsPresent(item)" class="btn btn-success">I'm here</button>
                        </div>
                        <div ng-hide="!item.attendance">
                            <button type="button" ng-click="addStudentIsGone(item)" class="btn btn-warning">I'm gone</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </ul>
</div>

<a ui-sref="home"><button type="button" class="btn">Go to Home</button></a>
