<div ng-show="students.length">
    <h1>Sign-in</h1>
    <ul>
        <li ng-repeat="item in students">
            {{ item.name }} <br>
            <div class="row attendance" ng-controller="AttendanceCtrl">
                <div ng-hide="item.attendance">
                    <a ng-click="addStudentIsPresent(item)"> - I'm here</a>
                </div>
                <div ng-hide="!item.attendance">
                    <a ng-click="addStudentIsGone(item)"> - I'm gone</a>
                </div>
            </div>
        </li>
    </ul>
</div>


<a ui-sref="home"><button type="button" class="btn">Go to Home</button></a>
